<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




     <form action="" method="POST">
        {% csrf_token %}
         <input type="text" placeholder="Название" name="NEW_store_name">
        <br><br>
        <input type="text" placeholder="Адрес" name="store_address">
        <br><br>
     <h1>ЛУЧШЕ НЕ ВЫБИРАТЬ ПРОДУКТЫ ИБО Я НЕ СМОГ ДОБАВИТЬ НЕСКОЛЬКО ПРОДУКТОВ В ПОЛЕ MANYTOMANY</h1>
        <select name="store_product" multiple>
            {% for product in products %}
                <option>{{ product.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button>Добавить</button>
        <h1><a style="color:black;" href="{% url 'index' %}">Вернуться на главную</a></h1>
    </form>





</body>
</html>